/* colors:
#d35266
#888
#383838 */
@font-face {
  font-family: "Gotham Rounded-Light";
  src: url("../assets/fonts/GothamRounded-Light.otf"); 
}

@font-face {
  font-family: "Gotham Rounded-Bold";
  src: url("../assets/fonts/GothamRounded-Bold.otf"); 
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: 'Gotham Rounded-Light', sans-serif;
}

.bold-face {
  font-family: 'Gotham Rounded-Bold', sans-serif;
  font-weight: 700;
}

.header-nav {
  display: flex;
  align-items: center;
  background-color: #383838;
  padding: 10px 8%;
}

.main-logo {
  display: flex;
  align-items: center;
  margin-right: 22px;
}

.main-logo img {
  width: 100%;
  max-width: 40px;
  max-height: 40px;
}

.main-logo .logo-text {
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 5%;
}

.main-menu li {
  display: inline;
  text-transform: uppercase;
  margin-right: 20px;
}

.main-menu li a {
  text-decoration: none;
  color: #888;
  font-size: 1.4rem;
}

.main-menu i {
  font-size: 1.4rem;
  color: #fff;
  padding-right: 5px;
}

.user-login {
  margin-left: auto;
  color: #fff;
  display: flex;
  align-items: center;
}

.main-nav-ad-button {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 8px 12px;
  color: #fff;
  background-color: #d35266;
  border-radius: 2px;
  text-decoration: none;
}

.user-login .user-image {
  width: 36px;
  margin-left: 15px;
}

.user-image img {
  border: 2px solid #555;
  border-radius: 18px;
  width: 100%;
}

.product-search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #d35266 url(../images/hero-bg-logo.png) no-repeat 28% 20%;
  padding: 50px 8%;
  
}

.search-hero-title {
  text-transform: uppercase;
  font-size: 5rem;
  line-height: 7rem;
  font-weight: 700;
  color: #fff;
}

.search-attention-text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.15rem;
  color: #fff;
  margin-bottom: 60px;
}

.product-search {
  width: 100%;
}

.product-search-form {
  display: flex;
  max-width: 900px;
  margin: auto;
}

.product-search-form select {
  color: #888;
  font-size: 1.3rem;
  padding-left: 8px;
  border: 0;
}

.product-search-form input {
  padding: 10px;
  padding-left: 8px;
  margin-left: 1px;
  width: 100%;
  font-size: 1.3rem;
  border: 0;
}

.product-search-form .search-button { 
  color: #888;
  background-color: #383838;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 3px;
  border-radius: 1px;
  border: 0;
  font-size: 1.3rem;
  font-weight: 700;
}

.hot-ad {
  padding: 50px 8%;
}

.hot-ad .hot-ad-title {
  text-transform: uppercase;
  color: #888;
  font-size: 3.2rem;
  margin-bottom: 20px;
}

.hot-ad-article {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 50px;
}

.hot-ad .ad-details {
  margin-top: 40px;
}

.hot-ad-image img {
  padding: 20px;
  /* background: rgba(182, 230, 11, 0.7) url("../assets/patterns/criss-cross.png") repeat; */
  /* background-color: goldenrod; */
}

.ad-details h3 {
  color: #d35266;
  font-size: 2rem;
  line-height: 2.4rem; 
  margin-bottom: 10px;
}

.ad-details p {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
}

.ads-buy-button {
  padding: 15px;
  border: 0;
  border-radius: 5px;
  background-color: #dd3355;
  color: #fff;
  margin-top: 50px;
}

.ads-buy-button li {
  display: inline;
  padding: 15px 25px;
  font-size: 1.6rem;
  font-weight: 500;
}

.ads-buy-button li i {
  font-size: 1.8rem;
  margin-right: 10px;
}

.ads-buy-button ul > li:first-child {
  border-right: #383838 solid 1px;
}